.menubtn
  position relative

  .menubtn-img
    width 81px
    height 81px
    max-width calc(100vw * 0.06)
    max-height calc(100vw * 0.06)

  .menubtn-text
    width calc(100% - 85px)

  @media screen and (max-width: 768px)
    .menubtn-img
      width 75px
      height 75px
      max-width none//calc(100vw * 0.10)
      max-height none//calc(100vw * 0.10)
