<div class="tela mod5tela6">

  <section class="screen screen-0 flex no-mobile-flex bg-10">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">

          <div class="row">
            <div class="col-sm-offset-6 col-sm-4">

              <div class="items flex-column">

                <div class="items-title">
                  <p class="title bold" >Resumindo...</p>
                </div>

                <div class="items-content flex-column bigtext">

                  <div class="bg-black white box-big item" ng-if="vm.currentItem[0] === 0">
                    <p>
                      O Crédito Direto ao Consumidor é uma modalidade de financiamento muito comum.
                    </p>
                  </div>

                  <div class="bg-black white box-big item" ng-if="vm.currentItem[0] === 0">
                    <p>
                      Tem por característica a simplicidade na concessão.
                    </p>
                  </div>

                  <div class="bg-black white box-big item" ng-if="vm.currentItem[0] === 0">
                    <p>
                      O valor pode ser liberado em dinheiro, crédito para compras, financiamento de veículs e outros.
                    </p>
                  </div>

                </div>

              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <div class="nav-buttons">
    <div class="nav-button prev" ng-click="vm.game.prev()">
      <img src="assets/images/mod5/botoes/botao_azul_voltar.png" alt="">
    </div>
    <div class="nav-button next" ng-click="vm.game.next()">
      <img src="assets/images/mod5/botoes/botao_azul_avancar.png" alt="">
    </div>
  </div>

</div>
