<div class="tela mod5tela1">

  <section class="screen screen-0 flex">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">

          <div class="row">
            <div class="col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-1">
              <div class="content bg-white bigtext">
                <p class="title bold uppercase strong">
                  <b>C</b>rédito<br/>
                  <b>D</b>ireto ao<br/>
                  <b>C</b>onsumidor
                </p>

                <p class="mt-1 m-mt-1">
                  Seja bem-vindo(a) ao curso sobre
                  <b>Crédito Direto ao Consumidor!</b>
                </p>

                <p class="mt-1 m-mt-1">No que se baseia essa operação? É o que você vai descobrir a partir de agora, explorando e aprendendo neste curso.</p>

                <p class="title black strong extrabold mt-1 m-mt-1">
                  Vamos lá?
                </p>

                <div class="mt-2 m-mt-2">
                  <div class="inline-block-middle bg-black box-small" ng-click="vm.next()">
                    <p class="white">Começar</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <div class="nav-buttons">
    <!--div class="nav-button prev" ng-click="vm.game.prev()">
      <img src="assets/images/mod5/botoes/botao_azul_voltar.png" alt="">
    </div-->
    <div class="nav-button next" ng-click="vm.game.next()" ng-if="vm.game.screenFinished()">
      <img src="assets/images/mod5/botoes/botao_azul_avancar.png" alt="">
    </div>
  </div>


</div>
