.tela.mod1tela1
  position relative
  min-height 100%
  width 100%
  height 100% /* cross-browser */
  height calc(100 * var(--vh))
  overflow hidden
  background url('../assets/images/px/bgs/bg_05.png')
  background-size cover
  background-position center
  background-repeat no-repeat
  background-attachment fixed

  .screen
    &.screen-0
      padding 0
      background #fff

      &:before
        content ""
        position absolute
        left 0
        top 0
        width calc((100% / 12) * 6)
        height calc(100%)
        background url(../assets/images/imagens/imagem_04.png)
        background-size auto 100%
        background-position left center
        background-repeat no-repeat
        pointer-events none


  @media only screen and (orientation:landscape)
    .row

      &.nowrap
        white-space nowrap

        .no-float
          float none
          display inline-block
          white-space normal

          &.middle
            vertical-align middle
